<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.yandex.money.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true">
        <activity android:name=".PaymentActivity"/>
    </application>

</manifest>
